<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>Finance Daily</title>
</head>
<body>


<h4>沪深300期货指数</h4>
@@CCPRESULT@@

<h4><a href="http://www.shibor.org/shibor/web/AllShibor.jsp">Shibor</a></h4>


Shibor Current
<img src="http://www.shibor.org/shibor/upload/pic/SHIBOR_CUR.jpg" width="260" height="147">

Shibor 1 Week
<img src="http://www.shibor.org/shibor/upload/pic/Shibor1W_AVG.jpg" width="260" height="147">


<h4><a href="http://quote.eastmoney.com/qihuo/RBM.html">螺纹钢主力合约</a></h4>

<img src="http://hqgnqhpic.eastmoney.com/EM_Futures2010PictureProducter/Index.aspx?ImageType=KXL&ID=rbm1&EF=&Formula=RSI&UnitWidth=6&type=D">


<h4><a href="http://quote.eastmoney.com/sh600585.html?StockCode=600585">海螺水泥</a></h4>

<img border="0" width="520" height="365" onerror="this.src='http://hqres.eastmoney.com/EMQuote_Lib/img/picknotfund.gif'" alt="海螺水泥(600585)" id="pick" src="http://hqpick.eastmoney.com/k/6005851kxld.png?0.14676908403635025">

</body>
</html>